body {
    background: black;

}

h1 {
    color: #91A6BA;
    text-align: center;
    font-size: 50px;
    font-family: 'Meddon', cursive;

}

p {
    color: #91A6BA;
    text-align: center;
    font-size: 18px;
    font-family: 'Rosario', sans-serif;

}

div {
    color: #91A6BA;
    text-align: center;
    font-size: 18px;
    font-family: 'Rosario', sans-serif;

}

img {
    width: 30%;
    height: 30%;
    min-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
